body {
  background-color: rgb(218, 147, 147);
  text-align: center;
}
h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
}
p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(0, 0, 0);
}
a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
  border-radius: 350px;
}
